<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">
</head>

<body class="body">
  <h1>Microsoft Profile Skills synchronizer</h1>

  <% if (!user) { %>
    <p>Welcome! Please <a href="/login">log in</a>.</p>
    <% } else { %>
      <p>Hello <%= user.name %>, you're signed in!</p>
      <h3>Upload Skills CSV</h3>
      <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
      </form>
      <p><a href="/logout">Log out</a>.</p>
      <% } %>
</body>

</html>